@model List<EntityLayer.Concrete.WriterMessage>
@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card col-12 mx-auto">
    @foreach (var item in Model)
    {
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
            <div class="d-flex align-items-center py-1 ">
                <div class="flex-grow-1 pl-3 ">
                    <strong>Gönderen: @item.SenderName </strong> Email:[@item.Sender] <strong>Alıcı: @item.ReceiverName</strong> [@item.Receiver] kişisine
                </div>
            </div>
        </div>

        <div class="chat-message-left pb-4">

            <div class="flex-grow-1 bg-secondary py-2 px-3 ml-3 text-dark">
                <div class="font-weight-bold mb-1 ">@item.SenderName <hr> </div>
                @item.MessageContent<div class="  text-right ">@item.Date.ToString("hh:mm tt")</div>
            </div>
        </div>
    }
    <div class="container d-flex ">
    <a asp-action="ReceiverMessageBox" class="btn btn-primary mr-2">Admin Alıcı Mesajlar</a>
    <a asp-action="SendMessageBox" class="btn btn-warning mr-2">Admin Gönderilen Mesajlar</a>
    </div>

</div>

